@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

nav{
    position: fixed;
    z-index: 9999;
}

body{
    background-image: url("../imagens/fundo-home.png");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
}

.card{
    margin-top: 10%;
    margin-left: 10%;
    width: 20%;
    height: 20%;
}

#quemsoueu{
    text-align: center;  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: 50%;
    margin-left: auto;
    
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.img-thumbnail{
    height: 33%;
}

hr{
    margin-left: 30%;
    margin-right: 30%;
    }

#home{
    margin-top: 10%;
    text-align: center;

}

.icone-java{
    margin-top: -10%;
    height: 20%;
    width: 20%;
    margin-left: 10%;
}

.titulo{
    
        font-family: 'Copse', serif;
    }

    .subtitulo{
        font-family: 'Roboto', sans-serif;
    }




@media screen and (min-width: 320px) and (max-width: 680px){
    .icone-java{
        margin-top: -3%; 
        height: 5.9%; 
        width: 5.9%;
        margin-left: 2%;
    }

    #home{
        margin-top: 45%;
        text-align: center;
        z-index: -10;
    }

    #content {
        position:absolute;
        top:25%;
        left:25%;
        z-index:1;
        height:60%;
        width:60%;
        background:rgba(255,255,255,.4);
        text-align:center;
      }

      .card{
        margin-top: 20%;
        margin-left: 10%;
        width: 20%;
        height: 20%;
    }

    #quemsoueu{
        text-align: center;  
        position: absolute;
        left: 47%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-right: 70%;
        
        
    }
    
    
}










@media screen and (min-width: 780px) and (max-width: 1200px){
    .icone-java{
        margin-top: -3%; 
        height: 5.9%; 
        width: 5.9%;
        margin-left: 2%;
    }

    

    #home{
        margin-top: 25%;
        text-align: center;
        z-index: -10;
    }
    
}

@media screen and (min-width: 1200px) and (max-width: 1366px){
    .icone-java{
        margin-top: -3%; 
        height: 15%; 
        width: 15%;
        margin-left: 2%;
    }

    #home{
        margin-top: 15%;
        text-align: center;
        z-index: -10;
    }
    
}

@media screen and (min-width: 680px) and (max-width: 780px){
    .icone-java{
        margin-top: -1%; 
        height: 5%; 
        width: 5%;
        margin-left: 2%;
    }

    #home{
        margin-top: 30%;
        text-align: center;
        z-index: -10;
    }

    .card{
        margin-top: 20%;
        margin-left: 10%;
        width: 20%;
        height: 20%;
    }
    
}

